.form-wrapper{
    background-color: rgba(214, 129, 240, 0.7);
    width: 48%;
    padding:.8rem 1.2rem;
    border-radius: 8px;
    margin: 2rem auto;
    
}
.form-btn {
    height: fit-content;
    width: fit-content;
    display: block;
    font:inherit;
    font-weight: 600;
    font-size: 1.05rem;
    background-color: rgba(41, 7, 51, 0.7);
    color: #fff;
    padding: 0.7rem 1.2rem;
    border-radius: 8px;
    border: 2px solid rgba(41, 7, 51, 0.7);
    cursor: pointer;
    margin: auto;
  
  }